* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body{
	
	background-color: white;

	}
	h1{
	margin-bottom: 15px;
	text-align: center;
	font-size: 500%
}
p {
  height: 100px;
  color: black;
  margin:30px;

}
div {
	background-color: gray;
}
 h2{
 	text-align: center;
	border: 1px solid black;
	margin: 0px;
	float: right;
	
	
 }



#t1 {
	background-color: pink;
}
#t2 {
	background-color: red;
}
#t3 {
	background-color: yellow;
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 5px solid black;
  }

  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 5px solid black;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  @media (max-width: 767px) {
  .col-sml-1, .col-sml-2, .col-sml-3, .col-sml-4, .col-sml-5, .col-sml-6, .col-sml-7, .col-sml-8, .col-sml-9, .col-sml-10, .col-sml-11, .col-sml-12 {
    float: left;
    border: 5px solid black;
  }
  .col-sml-1 {
    width: 8.33%;
  }
  .col-sml-2 {
    width: 16.66%;
  }
  .col-sml-3 {
    width: 25%;
  }
  .col-sml-4 {
    width: 33.33%;
  }
  .col-sml-5 {
    width: 41.66%;
  }
  .col-sml-6 {
    width: 50%;
  }
  .col-sml-7 {
    width: 58.33%;
  }
  .col-sml-8 {
    width: 66.66%;
  }
  .col-sml-9 {
    width: 74.99%;
  }
  .col-sml-10 {
    width: 83.33%;
  }
  .col-sml-11 {
    width: 91.66%;
  }
  .col-sml-12 {
    width: 100%;
  }
}


